@charset "utf-8";

body {
  font-family: 'cafe24 oneprettynight','NanumBarunGothic', 'NanumSquare_ac', sans-serif;
  background-image: url(../img/배경.jpg);
  background-repeat: no-repeat;
}

.menu {
  color: #FFF;
  padding: 25px;
  font-size: 45px;
}

.title {
  color: #FFF;
  font-family: : 'cafe24 oneprettynight';
  text-align: center;
  line-height: 45px;
}

.title span {
  font-size: 28px;
  font-weight: normal;
}

.title strong {
  font-size: 50px;
  font-weight: normal;
}

.wave {
  text-align: center;
  padding-top: 40px;
}

.media {
  text-align: left;
  padding-top: 190px;
  padding-left: 200px;
  font-size: 45px;
  color: #242B47;
  font-family: : 'NanumSquare_ac';
}

.Character_1 strong {
  font-size: 45px;
  color: #242B47;
}

.media-body span {
  font-size: 28px;
  color: #293660;
  line-height: 15px;
}

.media-body {
  padding-left: 100px;
  padding-top: 20px;
}

.text {
  padding-left: 600px;
  font-size: 20px;
  color: #353535;
  line-height: 15px;
}

.text strong {
  font-size: 25px;
  color: #242B47;
  line-height: 15px;
}

.text2 {
  padding-left: 600px;
  padding-top: 50px;
  font-size: 20px;
  color: #353535;
  line-height: 15px;
}

.text2 strong {
  font-size: 25px;
  color: #242B47;
  line-height: 15px;
}
