@charset "utf-8";

body {
  font-family: 'NanumSquare_ac','NanumBarunGothic', sans-serif;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}

.menu {
  color: #FFF;
  padding: 25px;
  font-size: 45px;
}

.title {
  color: #FFF;
  font-family: 'NanumSquare_ac','NanumBarunGothic', sans-serif;
  text-align: center;
  line-height: 45px;
}

.title span {
  font-size: 28px;
  font-weight: normal;
}

.title strong {
  font-size: 50px;
  line-height: 15px;
}

.wave {
  text-align: center;
  padding-top: 40px;
}

.media {
  text-align: left;
  padding-top: 190px;
  padding-left: 200px;
  color: #242B47;
  font-family: : 'NanumSquare_ac';
}

.media h2 {
  font-size: 45px;
}

.Character_1 strong {
  font-size: 45px;
  color: #242B47;

}

.media-body span {
  font-size: 28px;
  color: #293660;
  line-height: 36px;
}

.media-body {
  padding-left: 100px;
  padding-top: 20px;
}

.container  strong {
  font-size: 25px;
  color: #242B47;
  line-height: 15px;
  padding-left: 0px;
  font-family: : 'NanumSquare_ac';
}

.container {
  padding-left: 210px;
  font-size: 20px;
  color: #353535;
  line-height: 15px;
}

.text2 {
  padding-left: 15px;
  padding-top: 70px;
  font-size: 20px;
  color: #353535;
  line-height: 15px;
}

.text2 strong {
  font-size: 25px;
  color: #242B47;
  line-height: 15px;
  font-family: : 'NanumSquare_ac';
}
